<!-- 'blog/base.html' 위치의 -->
{% extends 'blog/base.html' %}
<!-- content부분에 넣는다. -->
{% block content %}

<h1 class="my-4">Blog</h1>

    {% if object_list.exists %}
    <!-- Blog Post -->
        {% for p in object_list %}
        <div class="card mb-4">
            {% if p.head_image %}
            <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
            {% else %}
            <!-- 이미지가 없을때 https://picsum.photos/750/300/?blur이미지를 뿌려준다. -->
            <img class="card-img-top" src="https://picsum.photos/750/300/?blur" alt="Card image cap">
            {% endif %}

            <div class="card-body">
                {% if p.category %}
                <span class="badge badge-primary float-right">{{ p.category }}</span> <!-- category 있으면 카테고리 명을 보여주고 -->
                {% else %}
                <span class="badge badge-primary float-right">미분류</span> <!-- 아닐때 미분류 라고 보여준다. -->
                {% endif %}
                <h2 class="card-title">{{ p.title }}</h2>
                <p class="card-text">{{ p.content | truncatewords:50 }}</p>  <!-- truncatewords 50글자만 미리 보임 -->
                <a href="{{ p.get_absolute_url }}" class="btn btn-primary" id="read-more-post-{{ p.pk }}">Read More &rarr;</a> <!-- {} 안에는 ()괄호를 사용하지 않는다. -->
            </div>
            <div class="card-footer text-muted">
                Posted on {{ p.create }} by
                <a href="#">{{ p.author }}</a>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <h3>아직 게시물이 없습니다.</h3>
    {% endif %}

{% endblock %}